

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,300&display=swap');

body{
  user-select: none;
  background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
}
.navmenu{
  background: linear-gradient(-225deg,rgba(0,0,0,0.25) 50%,transparent);

}

*{
  font-family: 'Josefin Sans', sans-serif;
}
.asset{
  accent-color:rgb(0, 68, 255);
}

.content-scroll::-webkit-scrollbar{
  width:8px;
}

.content-scroll::-webkit-scrollbar-track{
  background-color: rgba(245, 243, 243, 0.219);
  
}

.content-scroll::-webkit-scrollbar-thumb{
  background-color:rgba(114, 114, 114, 0.514);
  border-radius: 4px;
}

.menuanimation {
  transition:height 500ms ease-out;
}
.menuanimation h1{
  text-shadow: -3px 1px rgba(88, 88, 88, 0.514);
  letter-spacing: 2px;
  transition: opacity 200ms ease-out;
}

.menuanimation > :is(.image,nav){
  transition:opacity 400ms ease-out;
}

.skillanimate{
  animation: leftmove 1000ms ease-out;
  transition: width 1000ms ease-out;
}

@keyframes leftmove {
  from{
    width: 0px;
  }
  to{
    width: auto-fit;
  }
}

.projectanimate{
  animation: projectmove 1000ms ease-out;
}

@keyframes projectmove {
  from{
    top: 400px;
    opacity: 0;
  }
  to{
    top: 0px;
    opacity: 100;
  }
}



.subcard:nth-child(1){top: 0%;left: 0%;}
.subcard:nth-child(1):hover ~ .card{transform: rotateX(-15deg) rotateY(15deg);}

.subcard:nth-child(2){top: 0%;left: 33.3333%;}
.subcard:nth-child(2):hover ~ .card{transform: rotateX(-15deg) rotateY(0deg);}

.subcard:nth-child(3){top: 0%;left: 66.6666%;}
.subcard:nth-child(3):hover ~ .card{transform: rotateX(-15deg) rotateY(-15deg);}
/* .subcard:nth-child(3):hover{transform: rotateX(-15deg) rotateY(-15deg);} */

.subcard:nth-child(4){top: 33.3333%;left: 0%;}
.subcard:nth-child(4):hover ~ .card{transform: rotateX(0deg) rotateY(15deg);}

.subcard:nth-child(5){top: 33.3333%;left: 33.3333%;}
.subcard:nth-child(5):hover ~ .card{transform: rotateX(0deg) rotateY(0deg);}

.subcard:nth-child(6){top:33.3333%;left: 66.6666%;}
.subcard:nth-child(6):hover ~ .card{transform: rotateX(0) rotateY(-15deg);}

.subcard:nth-child(7){top: 66.6666%;left: 0%;}
.subcard:nth-child(7):hover ~ .card{transform: rotateX(15deg) rotateY(15deg);}

.subcard:nth-child(8){top: 66.6666%;left: 33.3333%;}
.subcard:nth-child(8):hover ~ .card{transform: rotateX(15deg) rotateY(0deg);}

.subcard:nth-child(9){top:  66.6666%;left:  66.6666%;}
.subcard:nth-child(9):hover ~ .card{transform: rotateX(15deg) rotateY(-15deg);}


.bottombox{
  transform:translateZ(-1px);
  transition: 500ms;
}

.container:hover .bottombox{
  transform:translateZ(-1px) translateY(45px);
}